$TTL 2H
@ IN SOA {{ DNS_INV_NAME }}. admin.{{ DOMAIN_NAME }}. (
                                                2020011800 ;Serial
                                                3600 ;Refresh
                                                1800 ;Retry
                                                604800 ;Expire
                                                86400 ;Minimum TTL
)

;Name Server Information
@ IN NS {{ DNS_INV_NAME }}.

{{ DNS_INV_NAME | replace('.' + DOMAIN_NAME, '') }} IN A {{ hostvars[DNS_INV_NAME]['ansible_env'].SSH_CONNECTION.split(' ')[2] }} 

bighead.com IN A {{ CLUSTER_IP }}
catsfood.com IN A {{ CLUSTER_IP }}

;CNAME Record
ftp  IN   CNAME www.{{  DOMAIN_NAME }}.
